.navbarMenu{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    padding:15px;
}
.navbarMenu span{
    font-size: 14px;
    margin-left: 8px;
    color: rgb(121, 121, 121);
    font-weight: 400;
}
.navigationLeft{
    display: flex;
    align-items: center;
    width: 60vw;
    font-size:25px;
    height: 35px;
    padding-left: 35px;
}
.navigationRight{
    display: flex;
    width: 40vw;
    align-items: center;
    overflow: hidden;
    height: 35px;
}
.navigationRight .mb-3{
   height: 10px;
   width: 25%;
}
.navigationRight .inputSearch{
    height: 19px;
    margin: 3px;
    border: none;
    border-bottom: 1px solid rgb(175, 175, 175);
    border-radius: 0px;
}
.navigationRight .inputSearch::placeholder{
    position: relative;
    left: -10px ;
    font-size: 14px;
}
.navigationRight #iconSearch, #favoriteIcon{
    font-size: 23px;
    color: rgb(121, 121, 121);
}
.navigationRight #iconShopping{
    font-size: 22px;
    color: darkviolet;
}
.navigationRight #favoriteIcon, #iconShopping{
    margin-left: 20px;
}
.inputSearch:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}